flujo_final_infalible.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {
          "rawBody": true
        }
      },
      "id": "de0a466e-7601-47e1-9f3a-d4cdeb68dfa2",
      "name": "WhatsApp Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1344,
        -128
      ],
      "webhookId": "REPLACE_WITH_N8N_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsCode": "// Lee explícitamente del Webhook inicial usando la sintaxis de n8n v1+\nconst webhookData = $('WhatsApp Webhook POST').item.json;\nconst body = webhookData.body || webhookData;\n\nconst value = body?.entry?.[0]?.changes?.[0]?.value || {};\nconst message = value?.messages?.[0] || null;\nconst contact = value?.contacts?.[0] || {};\nconst status = value?.statuses?.[0] || null;\n\nif (status && !message) {\n  return [{\n    json: {\n      is_valid_message: false,\n      event_type: 'status',\n      reason: 'WhatsApp status event ignored',\n      status_id: status.id || null,\n      status_value: status.status || null,\n      raw: body\n    }\n  }];\n}\n\nif (!message) {\n  return [{\n    json: {\n      is_valid_message: false,\n      event_type: 'unknown',\n      reason: 'No message object found',\n      raw: body\n    }\n  }];\n}\n\nconst type = message.type;\nlet text = '';\nlet media_id = null;\n\nif (type === 'text') {\n  text = message?.text?.body || '';\n}\n\nif (type === 'audio') {\n  media_id = message?.audio?.id || null;\n}\n\nif (type === 'image') {\n  text = message?.image?.caption || '';\n  media_id = message?.image?.id || null;\n}\n\nif (type === 'document') {\n  text = message?.document?.caption || '';\n  media_id = message?.document?.id || null;\n}\n\nreturn [{\n  json: {\n    is_valid_message: true,\n    event_type: 'message',\n    from: message.from,\n    customer_name: contact?.profile?.name || null,\n    message_id: message.id,\n    message_type: type,\n    text,\n    media_id,\n    timestamp: message.timestamp,\n    session_id: message.from,\n    business_phone_number_id: value?.metadata?.phone_number_id || null,\n    display_phone_number: value?.metadata?.display_phone_number || null,\n    raw_message: message\n  }\n}];"
      },
      "id": "754703f6-ec81-4e69-a95d-c5acba68a060",
      "name": "Normalize WhatsApp Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        -128
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.is_valid_message}}",
              "value2": true
            }
          ]
        }
      },
      "id": "fb6be55b-98da-4c9a-b399-cb26f9c52ac9",
      "name": "IF Valid Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -960,
        -128
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message_type}}",
              "value2": "text"
            }
          ]
        }
      },
      "id": "56943d00-3d58-4595-8ea5-83d45d6e1845",
      "name": "IF Text Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -768,
        -144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/processed_messages?select=id&whatsapp_message_id=eq.{{$json.message_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            }
          ]
        },
        "options": {}
      },
      "id": "3afaab55-fee2-49cb-ad1b-8bcc75f2d7b7",
      "name": "Check Duplicate Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -704,
        -384
      ],
      "alwaysOutputData": true,
      "notes": "Consulta processed_messages. Si devuelve filas, no se debe responder otra vez.",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/processed_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY3MTM4MywiZXhwIjoyMDkwMjQ3MzgzfQ.PyYU30n4yp2z_wtIJHnzunMtc_hX8rD7xWdPNxSYTHw"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY3MTM4MywiZXhwIjoyMDkwMjQ3MzgzfQ.PyYU30n4yp2z_wtIJHnzunMtc_hX8rD7xWdPNxSYTHw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"whatsapp_message_id\": \"{{$node['Normalize WhatsApp Message'].json.message_id}}\",\n  \"phone\": \"{{$node['Normalize WhatsApp Message'].json.from}}\"\n}",
        "options": {}
      },
      "id": "06a54156-5e53-4745-9c85-680d9ac73c58",
      "name": "Insert Processed Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -496,
        -384
      ],
      "alwaysOutputData": true,
      "notes": "MVP: en producción conviene insertar antes de llamar al agente y manejar conflicto 409 como duplicado.",
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "f198ae80-2600-490c-85e4-d7d428894391",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        144,
        -128
      ],
      "credentials": {},
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nlet reply = input.output || input.reply || input.text || '';\n\nif (!reply) {\n  reply = 'Gracias por escribirnos. ¿En qué puedo ayudarte?';\n}\n\nif (reply.length > 3500) {\n  reply = reply.slice(0, 3400) + '\\n\\nTe resumo lo principal arriba. Si deseas, te puedo dar más detalle.';\n}\n\n// Strip markdown images entirely: ![Name](URL)\nreply = reply.replace(/!\\[.*?\\]\\(.*?\\)/g, '');\n\n// Format standard markdown links [Text](URL) to \"Text (URL)\"\nreply = reply.replace(/\\[(.*?)\\]\\((.*?)\\)/g, '$1 ($2)');\n\nreply = reply\n  .replace(/\\*\\*/g, '*')\n  .replace(/#{1,6}\\s/g, '')\n  .trim();\n\nlet from = input.from || input.customer_phone || input.phone || '';\n\ntry {\n  const normalize = $('Normalize WhatsApp Message').first().json;\n  from = from || normalize.from || normalize.customer_phone || normalize.phone || '';\n} catch (error) {\n  // Safe fallback\n}\n\nreturn [\n  {\n    json: {\n      from,\n      reply\n    }\n  }\n];"
      },
      "id": "773c991d-ab4c-4c90-b912-ef0449f4f5b0",
      "name": "Format WhatsApp Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{$node['Normalize WhatsApp Message'].json.business_phone_number_id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node['HTTP Request'].json.whatsapp_token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($json.reply) }}\n  }\n}",
        "options": {}
      },
      "id": "68a248ee-367f-44f9-85e4-83384221c69d",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        816,
        -320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/conversation_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY3MTM4MywiZXhwIjoyMDkwMjQ3MzgzfQ.PyYU30n4yp2z_wtIJHnzunMtc_hX8rD7xWdPNxSYTHw"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY3MTM4MywiZXhwIjoyMDkwMjQ3MzgzfQ.PyYU30n4yp2z_wtIJHnzunMtc_hX8rD7xWdPNxSYTHw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"phone\": $('Format WhatsApp Response').first().json.from,\n  \"customer_name\": $('Format WhatsApp Response').first().json.customer_name || null,\n  \"inbound_message\": $('Format WhatsApp Response').first().json.inbound_message || null,\n  \"inbound_type\": $('Format WhatsApp Response').first().json.inbound_type || null,\n  \"agent_response\": $('Format WhatsApp Response').first().json.reply,\n  \"status\": \"ok\"\n}) }}",
        "options": {}
      },
      "id": "2b40508e-3e8d-4504-89e2-cb45ea57ba25",
      "name": "Log Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1264,
        -320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    from: $node['Normalize WhatsApp Message'].json.from,\n    reply: 'Por ahora puedo atender mensajes de texto. En breve activaremos audios e imágenes.'\n  }\n}];"
      },
      "id": "29ac20ed-8e57-4c37-8902-24db999454ab",
      "name": "Unsupported Message Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -176
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29d36401-a90d-446e-ba76-d3aa7b7fd147",
              "name": "text",
              "value": "Hola, ¿qué hamburguesas tienen?",
              "type": "string"
            },
            {
              "id": "99741e1a-bdaa-435a-af9b-4d6f5c8dbe76",
              "name": "from",
              "value": "15551868964",
              "type": "string"
            },
            {
              "id": "4d780408-0a9c-453a-909c-f3dd5177fc13",
              "name": "customer_name",
              "value": "Cliente Prueba",
              "type": "string"
            },
            {
              "id": "2488ff78-4404-497c-aed5-a2529884c5d6",
              "name": "session_id",
              "value": "15551868964",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -576
      ],
      "id": "358da3ea-cfa4-402a-94e2-81315442612f",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2b0e7106-e60b-4561-ad1d-2014caa8989e",
      "name": "WhatsApp Webhook POST1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1344,
        112
      ],
      "webhookId": "REPLACE_WITH_N8N_WEBHOOK_ID",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.query[\"hub.challenge\"]}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -976,
        112
      ],
      "id": "6b9d2d93-9d27-42ff-829f-e3849b43c2fb",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const normalize = $('Normalize WhatsApp Message').first().json;\n\nreturn [\n  {\n    json: {\n      is_valid_message: normalize.is_valid_message,\n      event_type: normalize.event_type,\n      from: normalize.from,\n      customer_name: normalize.customer_name,\n      message_id: normalize.message_id,\n      message_type: normalize.message_type,\n      text: normalize.text,\n      media_id: normalize.media_id,\n      timestamp: normalize.timestamp,\n      session_id: normalize.session_id,\n      business_phone_number_id: normalize.business_phone_number_id,\n      display_phone_number: normalize.display_phone_number,\n      raw_message: normalize.raw_message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -384
      ],
      "id": "5baf9fca-f805-4862-bd99-ee5d1b235aa5",
      "name": "Restore WhatsApp Context",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/rpc/registrar_mensaje",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{$node['Normalize WhatsApp Message'].json.from}}\",\n  \"p_message\": \"{{$node['Normalize WhatsApp Message'].json.text}}\",\n  \"p_direction\": \"inbound\",\n  \"p_customer_name\": \"{{$node['Normalize WhatsApp Message'].json.customer_name}}\",\n  \"p_tenant_id\": \"{{$node['HTTP Request'].json.id}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -880,
        -384
      ],
      "id": "b44702dd-8d31-4978-80f0-e7f2233383e3",
      "name": "Guardar Mensaje Cliente",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/whatsapp_chats?phone=eq.{{ $json.from }}&select=is_bot_active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        -384
      ],
      "id": "13c657a2-d170-445b-8115-71fd0f222b6d",
      "name": "Consultar Modo Humano",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9e156f3-885b-4093-a64e-795edcb85743",
              "leftValue": "={{ $json.is_bot_active !== false }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        -384
      ],
      "id": "6a07ff14-e391-4ab0-a3a8-c7ceb37b2430",
      "name": "Bot Activo?",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/rpc/registrar_mensaje",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"p_phone\": $('Format WhatsApp Response').first().json.from,\n  \"p_message\": $('Format WhatsApp Response').first().json.reply,\n  \"p_direction\": \"outbound\",\n  \"p_customer_name\": $('Normalize WhatsApp Message').first().json.customer_name || null,\n  \"p_tenant_id\": $('HTTP Request').first().json.id\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        -320
      ],
      "id": "5f9a3236-0256-4d21-8e9c-2ad91554f089",
      "name": "Guardar Respuesta Bot",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Cliente WhatsApp: {{$('Normalize WhatsApp Message').first().json.from}}\nNombre cliente: {{$('Normalize WhatsApp Message').first().json.customer_name || ''}}\nMensaje cliente: {{$('Normalize WhatsApp Message').first().json.text}}\n",
        "options": {
          "systemMessage": "={{ $('HTTP Request').first().json.system_prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        288,
        -320
      ],
      "id": "e3c05c58-8a33-4e77-8d22-528c98919736",
      "name": "AI Agent",
      "onError": "continueErrorOutput",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Consulta las sucursales, oficinas o locales activos del negocio, incluyendo dirección física, link de mapa y horarios de atención.",
        "url": "https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/branches?select=id,name,address,google_maps_url,opening_hours,is_active&is_active=eq.true",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY3MTM4MywiZXhwIjoyMDkwMjQ3MzgzfQ.PyYU30n4yp2z_wtIJHnzunMtc_hX8rD7xWdPNxSYTHw"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY3MTM4MywiZXhwIjoyMDkwMjQ3MzgzfQ.PyYU30n4yp2z_wtIJHnzunMtc_hX8rD7xWdPNxSYTHw"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        432,
        32
      ],
      "id": "daf28deb-54ad-4483-9efa-ae5bd034ed52",
      "name": "consultar_sucursales",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Crea una solicitud de reserva o cita en el sistema. Debes pasar un objeto JSON completo en el parámetro query que contenga estrictamente: {\"customer_name\": \"Nombre del cliente\", \"phone\": \"Teléfono del cliente\", \"reservation_date\": \"YYYY-MM-DD\", \"reservation_time\": \"HH:mm\", \"guest_count\": 2, \"notes\": \"notas_opcionales\"}. No omitas ninguno de estos campos en el JSON.",
        "method": "POST",
        "url": "https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/rpc/crear_reserva",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "valueProvider": "fieldValue",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"p_customer_name\": \"={{ (() => { try { const parsed = JSON.parse($json.query); if (parsed && parsed.customer_name) return parsed.customer_name; } catch (e) {} return $('Normalize WhatsApp Message').first().json.customer_name || 'Cliente WhatsApp'; })() }}\",\n  \"p_phone\": \"={{ (() => { try { const parsed = JSON.parse($json.query); if (parsed && parsed.phone) return String(parsed.phone); } catch (e) {} return $('Normalize WhatsApp Message').first().json.from; })() }}\",\n  \"p_reservation_date\": \"={{ (() => { try { const parsed = JSON.parse($json.query); if (parsed && parsed.reservation_date) return parsed.reservation_date; } catch (e) {} return ''; })() }}\",\n  \"p_reservation_time\": \"={{ (() => { try { const parsed = JSON.parse($json.query); if (parsed && parsed.reservation_time) return parsed.reservation_time; } catch (e) {} return ''; })() }}\",\n  \"p_guest_count\": \"={{ (() => { try { const parsed = JSON.parse($json.query); if (parsed && parsed.guest_count) return Number(parsed.guest_count); } catch (e) {} return 1; })() }}\",\n  \"p_notes\": \"={{ (() => { try { const parsed = JSON.parse($json.query); if (parsed && parsed.notes) return parsed.notes; } catch (e) {} return ''; })() }}\",\n  \"p_tenant_id\": \"{{ $('HTTP Request').first().json.id }}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        656,
        -96
      ],
      "id": "3ebbd38f-d5ae-4cf3-8edc-d17099f39e4a",
      "name": "registrar_reserva",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Crea un pedido en Supabase. Debes pasar un objeto JSON completo en el parámetro query que contenga estrictamente: {\"items\": [{\"name\": \"Nombre de Producto\", \"qty\": 1}], \"phone\": \"Número de WhatsApp del cliente\", \"customer_name\": \"Nombre del cliente\", \"total\": total_en_número}. No omitas ninguno de estos campos en el JSON.",
        "method": "POST",
        "url": "https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/rpc/crear_pedido",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"p_phone\": \"={{ (() => { try { const parsed = JSON.parse($json.query); if (parsed && parsed.phone) return String(parsed.phone); } catch (e) {} return $('Normalize WhatsApp Message').first().json.from; })() }}\",\n  \"p_customer_name\": \"={{ (() => { try { const parsed = JSON.parse($json.query); if (parsed && parsed.customer_name) return parsed.customer_name; } catch (e) {} return $('Normalize WhatsApp Message').first().json.customer_name || 'Cliente WhatsApp'; })() }}\",\n  \"p_items\": \"={{ (() => { try { const parsed = JSON.parse($json.query); if (parsed && parsed.items) return parsed.items; } catch (e) {} return []; })() }}\",\n  \"p_total\": \"={{ (() => { try { const parsed = JSON.parse($json.query); if (parsed && parsed.total) return Number(parsed.total); } catch (e) {} return 0; })() }}\",\n  \"p_source\": \"whatsapp\",\n  \"p_tenant_id\": \"{{ $('HTTP Request').first().json.id }}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        496,
        -96
      ],
      "id": "d963d612-6c40-4bdf-b883-cd403c93548f",
      "name": "crear_pedido",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/rpc/resolver_tenant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone_number_id\": \"{{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1104,
        -368
      ],
      "id": "6490a5cc-278d-4c79-bb43-8a78edc6032c",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{$node['Normalize WhatsApp Message'].json.business_phone_number_id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node['HTTP Request'].json.whatsapp_token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{$node['Normalize WhatsApp Message'].json.from}}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"⚠️ Disculpa, en este momento estoy experimentando intermitencias técnicas y mi cerebro está reiniciándose. En breve un agente humano tomará tu caso.\"\n  }\n}",
        "options": {}
      },
      "id": "428f5c3e-5767-473f-97a8-b383a27130fa",
      "name": "Fallback to User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        -96
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{$node['Normalize WhatsApp Message'].json.business_phone_number_id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node['HTTP Request'].json.whatsapp_token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"911\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"🚨 *ALERTA ROBOTINA CRÍTICA* 🚨\\nEl bot ha fallado.\\n*Tenant:* {{$node['HTTP Request'].json.business_name}}\\n*Cliente:* {{$node['Normalize WhatsApp Message'].json.customer_name}} (+{{$node['Normalize WhatsApp Message'].json.from}})\\n*Error:* {{$json.error.message}}\"\n  }\n}",
        "options": {}
      },
      "id": "f78949bc-c78f-43fc-941e-c0b5aeb2f40f",
      "name": "Alert to Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        704,
        128
      ],
      "notes": "Cambia el numero 911 en to por tu numero real de WhatsApp",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Consulta el catálogo maestro de productos o servicios disponibles en el negocio. Úsala cuando el cliente pregunte qué vendemos, qué servicios ofrecemos, precios, detalles, inventario o sugerencias.",
        "url": "https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/menu_items?select=item_code,name,description,price,category,img_url,stock_status,is_available,sales_30d,keywords&is_available=eq.true",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY3MTM4MywiZXhwIjoyMDkwMjQ3MzgzfQ.PyYU30n4yp2z_wtIJHnzunMtc_hX8rD7xWdPNxSYTHw"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY3MTM4MywiZXhwIjoyMDkwMjQ3MzgzfQ.PyYU30n4yp2z_wtIJHnzunMtc_hX8rD7xWdPNxSYTHw"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        256,
        48
      ],
      "id": "24b74020-ea3b-4e07-a778-4eca90599585",
      "name": "consultar_catalogo",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message_type}}",
              "value2": "interactive"
            }
          ]
        }
      },
      "id": "if-booking-message-id",
      "name": "IF Booking Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -768,
        32
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vijzjcpkypsmkhywndus.supabase.co/rest/v1/rpc/registrar_mensaje",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpanpqY3BreXBzbWtoeXduZHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzEzODMsImV4cCI6MjA5MDI0NzM4M30.SiFNNR3ixkITh2y5tHbFiCymhRQmAny1CrlMojm3HkA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{$node['Normalize WhatsApp Message'].json.from}}\",\n  \"p_message\": \"Cita agendada\",\n  \"p_direction\": \"inbound\",\n  \"p_customer_name\": \"{{$node['Normalize WhatsApp Message'].json.customer_name}}\",\n  \"p_tenant_id\": \"{{$node['HTTP Request'].json.id}}\"\n}"
      },
      "id": "guardar-mensaje-cita-entrada",
      "name": "Guardar Mensaje Cita Entrada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -496,
        -32
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://google.com"
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -496,
        128
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{$node['Normalize WhatsApp Message'].json.business_phone_number_id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node['HTTP Request'].json.whatsapp_token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"✅ ¡Tu cita está confirmada! Te enviaremos un recordatorio 60 minutos antes y el link de Google Meet 10 minutos antes de la reunión.\"\n  }\n}"
      },
      "id": "send-booking-conf-whatsapp",
      "name": "Send Booking Conf WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -496,
        288
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://google.com"
      },
      "id": "save-booking-bot-response",
      "name": "Save Booking Bot Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -256,
        288
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://google.com"
      },
      "id": "log-booking-conversation",
      "name": "Log Booking Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -16,
        288
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://google.com"
      },
      "id": "create-2h-reminder",
      "name": "Create 2h Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -496,
        448
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://google.com"
      },
      "id": "create-1h-reminder",
      "name": "Create 1h Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -496,
        608
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('WhatsApp Webhook POST').item.json;\nconst body = webhookData.body || webhookData;\n\nconst value = body?.entry?.[0]?.changes?.[0]?.value || {};\nconst message = value?.messages?.[0] || null;\nconst contact = value?.contacts?.[0] || {};\nconst status = value?.statuses?.[0] || null;\n\nif (status && !message) {\n  return [{ json: { is_valid_message: false, event_type: 'status', reason: 'WhatsApp status event ignored' } }];\n}\n\nif (!message) {\n  return [{ json: { is_valid_message: false, event_type: 'unknown', reason: 'No message object found' } }];\n}\n\nfunction getPhoneNumber(msg) {\n  if (msg?.from) return msg.from;\n  if (msg?.from_user_id && msg.from_user_id.startsWith('51')) return msg.from_user_id;\n  const wamid = msg?.id;\n  if (wamid && wamid.startsWith('wamid.')) {\n    try {\n      const part = wamid.split('.')[1];\n      const buf = Buffer.from(part, 'base64');\n      const len = buf[2];\n      if (len > 5 && len < 20) {\n        const extracted = buf.toString('utf8', 3, 3 + len);\n        if (/^\\d+$/.test(extracted)) return extracted;\n      }\n    } catch (e) {}\n  }\n  return null;\n}\n\nconst fromPhone = getPhoneNumber(message);\nconst type = message.type;\nlet text = '';\nlet media_id = null;\n\nif (type === 'text') text = message?.text?.body || '';\nif (type === 'audio') media_id = message?.audio?.id || null;\nif (type === 'image') {\n  text = message?.image?.caption || '';\n  media_id = message?.image?.id || null;\n}\nif (type === 'document') {\n  text = message?.document?.caption || '';\n  media_id = message?.document?.id || null;\n}\n\nreturn [{\n  json: {\n    is_valid_message: true,\n    event_type: 'message',\n    from: fromPhone,\n    customer_name: contact?.profile?.name || null,\n    message_id: message.id,\n    message_type: type,\n    text,\n    media_id,\n    timestamp: message.timestamp,\n    session_id: fromPhone,\n    business_phone_number_id: value?.metadata?.phone_number_id || null,\n    display_phone_number: value?.metadata?.display_phone_number || null,\n    raw_message: message\n  }\n}];"
      },
      "id": "9592d78b-e0c6-4e27-bd64-0a5a58222137",
      "name": "Normalize WhatsApp Message (Emergencia)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5232,
        2048
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.is_valid_message}}",
              "value2": true
            }
          ]
        }
      },
      "id": "5dc957d5-d1b5-4dde-a4f3-e9fce205220a",
      "name": "IF Valid Message (Emergencia)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -5056,
        2048
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message_type}}",
              "value2": "text"
            }
          ]
        }
      },
      "id": "d98d69ef-3d61-4424-a25c-2e30dfd5882a",
      "name": "IF Text Message (Emergencia)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4864,
        2032
      ]
    },
    {
      "parameters": {
        "url": "=https://uwcizesexahodlsjxuiq.supabase.co/rest/v1/processed_messages?select=id&whatsapp_message_id=eq.{{$json.message_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            }
          ]
        },
        "options": {}
      },
      "id": "910cc4c2-f02e-420e-aae6-5ac1265ac06f",
      "name": "Check Duplicate Message (Emergencia)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -4800,
        1792
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://uwcizesexahodlsjxuiq.supabase.co/rest/v1/processed_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"whatsapp_message_id\": \"{{$node['Normalize WhatsApp Message (Emergencia)'].json.message_id}}\",\n  \"phone\": \"{{$node['Normalize WhatsApp Message (Emergencia)'].json.from}}\"\n}",
        "options": {}
      },
      "id": "c47cd879-1f53-4978-978d-3c26b579c912",
      "name": "Insert Processed Message (Emergencia)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -4592,
        1792
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "0d552b3e-a665-40de-a48b-28f488aba2d3",
      "name": "OpenAI Chat Model (Emergencia)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -3744,
        2048
      ],
      "credentials": {
        "openAiApi": {
          "id": "EqCyyLUNyQ3YpJj3",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.from }}",
        "contextWindowLength": 10
      },
      "id": "e8daa5dd-a9cc-428c-a810-a19ee996f94a",
      "name": "Memory by WhatsApp Number (Emergencia)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        -3584,
        2032
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nlet reply = input.output || input.reply || input.text || '';\nif (!reply) reply = 'Gracias por escribirnos. ¿En qué puedo ayudarte?';\nif (reply.length > 3500) reply = reply.slice(0, 3400) + '\\n\\nTe resumo lo principal arriba.';\nreply = reply.replace(/!\\[.*?\\]\\(.*?\\)/g, '').replace(/\\[(.*?)\\]\\((.*?)\\)/g, '$1 ($2)').replace(/\\*\\*/g, '*').replace(/#{1,6}\\s/g, '').trim();\nlet from = input.from || input.customer_phone || input.phone || '';\ntry { from = from || $('Normalize WhatsApp Message (Emergencia)').first().json.from; } catch (e) {}\nreturn [{ json: { from, reply } }];"
      },
      "id": "d84eba93-2843-4990-a347-869e02ff7d5a",
      "name": "Format WhatsApp Response (Emergencia)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3232,
        1856
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{$node['Normalize WhatsApp Message (Emergencia)'].json.business_phone_number_id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node['HTTP Request (Emergencia)'].json.whatsapp_token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($json.reply) }}\n  }\n}",
        "options": {}
      },
      "id": "3bf126bc-ae80-4856-a826-8e82fabfb9c4",
      "name": "Send WhatsApp Message (Emergencia)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2992,
        1856
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uwcizesexahodlsjxuiq.supabase.co/rest/v1/conversation_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"phone\": $('Format WhatsApp Response (Emergencia)').first().json.from,\n  \"customer_name\": $('Format WhatsApp Response (Emergencia)').first().json.customer_name || null,\n  \"agent_response\": $('Format WhatsApp Response (Emergencia)').first().json.reply,\n  \"status\": \"ok\"\n}) }}",
        "options": {}
      },
      "id": "5f756486-124d-4f81-96f1-b836933a9865",
      "name": "Log Conversation (Emergencia)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2544,
        1856
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    from: $node['Normalize WhatsApp Message (Emergencia)'].json.from,\n    reply: 'Por ahora puedo atender mensajes de texto. En breve activaremos audios e imágenes.'\n  }\n}];"
      },
      "id": "3fd0967a-e006-4c2d-a6db-4db0a3e820c6",
      "name": "Unsupported Message Fallback (Emergencia)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4400,
        2000
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalize = $('Normalize WhatsApp Message (Emergencia)').first().json;\nreturn [{ json: normalize }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4400,
        1792
      ],
      "id": "11bdd2ef-b44a-436e-8f63-bacf82b14f52",
      "name": "Restore WhatsApp Context (Emergencia)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uwcizesexahodlsjxuiq.supabase.co/rest/v1/rpc/registrar_mensaje",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"p_phone\": $node['Normalize WhatsApp Message (Emergencia)'].json.from,\n  \"p_message\": $node['Normalize WhatsApp Message (Emergencia)'].json.text,\n  \"p_direction\": \"inbound\",\n  \"p_customer_name\": $node['Normalize WhatsApp Message (Emergencia)'].json.customer_name,\n  \"p_tenant_id\": $node['HTTP Request (Emergencia)'].json.id\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4976,
        1792
      ],
      "id": "d7feaeed-93cd-4840-8fb4-a6007ec5bb57",
      "name": "Guardar Mensaje Cliente (Emergencia)"
    },
    {
      "parameters": {
        "url": "=https://uwcizesexahodlsjxuiq.supabase.co/rest/v1/whatsapp_chats?phone=eq.{{ $('Normalize WhatsApp Message (Emergencia)').first().json.from }}&tenant_id=eq.{{ $('HTTP Request (Emergencia)').first().json.id }}&select=is_bot_active&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4224,
        1792
      ],
      "id": "37e8f2da-b00b-413e-9773-3ad30f7a7547",
      "name": "Consultar Modo Humano (Emergencia)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9e156f3-885b-4093-a64e-795edcb85743",
              "leftValue": "={{ $json.is_bot_active !== false }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4016,
        1792
      ],
      "id": "f0520009-4c60-4d43-bc02-6963e5443425",
      "name": "Bot Activo? (Emergencia)"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\n// TODO: Conectar a Supabase real. \n// Estos son datos que el AI Agent necesita para el prompt de estadísticas.\ninput.stats = {\n  buscadas: 5281,\n  encontradas: 978,\n  seguras: 2134,\n  pendientes: 312\n};\n\nreturn [{\n  json: input\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3792,
        1792
      ],
      "id": "b1b2a9e3-82c8-47e4-bcde-2e4b85d99b1a",
      "name": "Obtener Estadisticas (Emergencia)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uwcizesexahodlsjxuiq.supabase.co/rest/v1/rpc/registrar_mensaje",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"p_phone\": $('Format WhatsApp Response (Emergencia)').first().json.from,\n  \"p_message\": $('Format WhatsApp Response (Emergencia)').first().json.reply,\n  \"p_direction\": \"outbound\",\n  \"p_customer_name\": $('Normalize WhatsApp Message (Emergencia)').first().json.customer_name || null,\n  \"p_tenant_id\": $('HTTP Request (Emergencia)').first().json.id\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2784,
        1856
      ],
      "id": "a01a8a36-bc1f-4eab-a8c9-8838762748ae",
      "name": "Guardar Respuesta Bot (Emergencia)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ '[HISTORIAL DE CHAT]\\n' + $json.data + '\\n\\n[NUEVO MENSAJE ACTUAL]\\n' + $('Normalize WhatsApp Message (Emergencia)').first().json.text }}",
        "options": {
          "systemMessage": "={{ '' }}\nEres *Reencuentro Venezuela* 🇻🇪, un asistente humanitario de emergencia que opera por WhatsApp. Fuiste creado por @andres.a.fz en Instagram como un motor voluntario de procesamiento de datos y sin fines de lucro para ayudar a reunir familias y localizar personas después del terremoto en Venezuela.\n\nTu objetivo es doble: \n1. Ser inmensamente cálido, paciente y empático ante la crisis.\n2. Transmitir constantemente que el sistema está VIVO, procesando información, monitorizando reportes y buscando coincidencias de forma activa (no eres un simple formulario).\n\n═══════════════════════════════\nPERSONALIDAD Y TONO\n═══════════════════════════════\n- Usa un tono humano, compasivo y tecnológico. Habla como un voluntario que cuenta con una poderosa red de datos para ayudar.\n- Sé paciente. Si alguien escribe en pánico, con errores o desordenado, interpreta su intención con buena fe.\n- Usa emojis con moderación para estructurar la información (🔍, 📍, 🧠, 📡, ⚠, ✅, 📞, 🏥, 🇻🇪). Nunca uses humor o sarcasmo.\n- Responde SIEMPRE en español, trata de \"tú\" para generar cercanía.\n- Mantén las respuestas claras; en crisis, los textos muy largos abruman.\n\n═══════════════════════════════\nINFORMACIÓN DINÁMICA DEL SISTEMA\n═══════════════════════════════\n(Utiliza estos datos para generar confianza al mostrar estadísticas):\n- Personas buscadas activamente: {{$json.stats.buscadas}}\n- Personas encontradas: {{$json.stats.encontradas}}\n- Personas reportadas seguras: {{$json.stats.seguras}}\n- Coincidencias en revisión: {{$json.stats.pendientes}}\n\n═══════════════════════════════\nMENÚ PRINCIPAL Y PRIMER CONTACTO\n═══════════════════════════════\nCuando alguien te escriba por primera vez y diga \"Hola\" o algo genérico, presenta esto:\n\n\"Hola. Soy *Reencuentro Venezuela* 🇻🇪\nEstoy aquí para ayudarte.\n\n1️⃣ Estoy bien (avisar que estás a salvo)\n2️⃣ Busco a alguien\n3️⃣ Encontré a alguien\n4️⃣ Información y ayuda\n5️⃣ Hablar con un voluntario\n\nEscribe el número o cuéntame directamente tu situación.\"\n\n⚠️ REGLA DE ORO: Si el usuario te responde con un número (ej. \"1\", \"2\") o te dice algo específico (\"estoy bien\", \"busco a sofia\"), ASUME QUE YA VIO EL MENÚ. \n¡PROHIBIDO volver a enviarle el menú! Pasa DIRECTAMENTE a la Recepción de Datos.\n\n═══════════════════════════════\nRECEPCIÓN DE DATOS (OPCIONES 1, 2 Y 3)\n═══════════════════════════════\nSi el usuario indica que está bien (Opción 1), busca a alguien (Opción 2) o encontró a alguien (Opción 3), DEBES pedirle amablemente los siguientes datos para poder registrarlo correctamente en el sistema:\n- Nombre completo\n- Edad aproximada\n- Sexo\n- Ubicación actual o ciudad\n- ¿Con quién está? (o a quién busca, si aplica)\n\nEjemplo si dice \"estoy bien\" o elige la opción 1: \"Me alegra muchísimo saber que estás a salvo. 🙏 Para poder registrarte en el sistema como seguro y avisarle a cualquier familiar que te esté buscando, por favor dime tu nombre completo, edad, ubicación actual y si estás con alguien más.\"\n\nUna vez que el usuario envíe sus datos, DEBES mostrar este proceso para generar confianza y transparencia:\n\n\"🔍 *Analizando tu reporte...*\n📍 *Extrayendo información relevante...*\n🧠 *Comparando con registros existentes...*\n\n✅ Información estructurada correctamente. Estamos revisando coincidencias mediante:\n✓ Nombre completo\n✓ Edad aproximada\n✓ Ciudad / Última ubicación conocida\n✓ Fecha del reporte\n\n📡 *Monitorización Continua Activada:* Tu búsqueda permanecerá activa durante las próximas 72 horas. El sistema ejecutará búsquedas automáticas cada vez que ingrese nueva información. Te notificaremos si hay cruces de datos. No pierdas la esperanza. 🇻🇪\"\n\n═══════════════════════════════\nNOTIFICACIONES DE COINCIDENCIA\n═══════════════════════════════\nSi detectas una coincidencia con datos previos (similitud > 50%), alerta así:\n\n\"⚠ *NUEVA POSIBLE COINCIDENCIA ENCONTRADA*\n\nConfianza estimada: [ALTA / MEDIA]\nUbicación aproximada: [Ciudad/Zona de la coincidencia]\nReportada hace: [Tiempo estimado]\n\nUn voluntario está revisando esta información antes de compartir datos personales. Por favor, mantén este chat abierto.\"\n\n═══════════════════════════════\nPANEL GLOBAL DEL SISTEMA\n═══════════════════════════════\nSi el usuario pregunta si el sistema sirve, cómo funciona, o pide estadísticas, responde:\n\n\"Actualmente el sistema está monitorizando la red global:\n• {{$json.stats.buscadas}} personas buscadas\n• {{$json.stats.seguras}} personas seguras\n• {{$json.stats.encontradas}} personas localizadas\n• {{$json.stats.pendientes}} coincidencias pendientes de revisión\n\nSeguimos recibiendo y procesando reportes cada minuto. 📡\"\n\n═══════════════════════════════\nINFORMACIÓN DE EMERGENCIA (OPCIÓN 4)\n═══════════════════════════════\nSi piden ambulancia, policía o ayuda urgente, envía:\n\n\"📞 *Números Oficiales de Emergencia Venezuela:*\n🚑 Emergencias integrales: *911*\n👮 Emergencias policiales: *171*\n🚓 Policía Nacional Bolivariana: *0800-765-4242*\n🚒 Protección Civil (RESCATE/LLUVIAS): *0800-558-8427*\n\nSi estás en peligro inminente o herido, llama al *911* ahora mismo.\"\n\n(Si preguntan por refugios o insumos, diles que contacten a Protección Civil al 0800-558-8427).\n\n═══════════════════════════════\nHABLAR CON VOLUNTARIO (OPCIÓN 5)\n═══════════════════════════════\n\"Entendido. Un voluntario de nuestro equipo se comunicará contigo por esta misma vía lo antes posible. Por favor, mantén este chat abierto. Fuerza. 🇻🇪\"\n\n═══════════════════════════════\nSITUACIONES CRÍTICAS\n═══════════════════════════════\n- PERSONA EN PÁNICO: \"Respira. Estoy aquí contigo. Vas a estar bien. Cuéntame qué necesitas y vamos paso a paso.\"\n- PERSONA HERIDA: Envía inmediatamente el 911 y ofrécete a guardar su ubicación.\n- NIÑOS SOLOS: Solicita ubicación urgente y alerta que un voluntario se conecta ya mismo.\n- QUIÉN TE CREÓ: \"Fui desarrollado por *@andres.a.fz* (Instagram) como iniciativa voluntaria para conectar familias. Si quieres ayudar, escríbele.\"\n- FUERA DE CONTEXTO (spam/bromas): \"Este canal es exclusivamente para la emergencia del terremoto en Venezuela. 🇻🇪\"\n\n═══════════════════════════════\nREGLAS ABSOLUTAS\n═══════════════════════════════\n1. NUNCA compartas teléfonos o direcciones sin validación humana.\n2. NUNCA hables de ventas, Robotina, marketing o negocios.\n3. NUNCA inventes coincidencias para calmar a alguien.\n4. Si falta información crítica (como el nombre), pregúntalo amable y directamente.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -3520,
        1856
      ],
      "id": "2b0afe99-6da8-4ed8-8175-eeb6df631e02",
      "name": "AI Agent (Emergencia)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uwcizesexahodlsjxuiq.supabase.co/rest/v1/rpc/resolver_tenant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone_number_id\": \"{{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -5200,
        1808
      ],
      "id": "12b21b26-204c-411f-a2cc-c052c83d8933",
      "name": "HTTP Request (Emergencia)"
    },
    {
      "parameters": {
        "url": "=https://uwcizesexahodlsjxuiq.supabase.co/rest/v1/rpc/get_chat_history",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3Y2l6ZXNleGFob2Rsc2p4dWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0ODE5MzUsImV4cCI6MjA5ODA1NzkzNX0.D4rc-TH2G3K85Cnb5WrpuTHmiqp3O3wLaGRi8531opg"
            }
          ]
        },
        "options": {},
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"p_phone\": \"{{ $('Normalize WhatsApp Message (Emergencia)').first().json.from }}\"}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3520,
        1856
      ],
      "id": "node-historial-uuid-1234",
      "name": "Obtener Historial (Emergencia)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "name": "registrar_reporte",
        "description": "Call this tool whenever you extract data from a user (Option 1, 2, or 3). Provide person_name, age, gender, location, status (must be exactly 'Buscando', 'Encontrado' or 'Seguro'), and companion_info.",
        "method": "POST",
        "url": "={{ $('HTTP Request (Emergencia)').first().json.supabase_url }}/rest/v1/rpc/registrar_reporte",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('HTTP Request (Emergencia)').first().json.supabase_anon_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_tenant_id\": \"{{ $('HTTP Request (Emergencia)').first().json.id }}\",\n  \"p_reporter_phone\": \"{{ $('Normalize WhatsApp Message (Emergencia)').first().json.from }}\",\n  \"p_person_name\": \"{{ $fromAI('person_name') }}\",\n  \"p_age\": \"{{ $fromAI('age') }}\",\n  \"p_gender\": \"{{ $fromAI('gender') }}\",\n  \"p_location\": \"{{ $fromAI('location') }}\",\n  \"p_status\": \"{{ $fromAI('status') }}\",\n  \"p_companion_info\": \"{{ $fromAI('companion_info') }}\"\n}"
      },
      "id": "95c77b7d-027c-44ed-a336-dbcb68f8258d",
      "name": "Registrar Reporte (Tool)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -3470,
        2156
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook POST": {
      "main": [
        [
          {
            "node": "HTTP Request (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize WhatsApp Message": {
      "main": [
        [
          {
            "node": "IF Valid Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Message": {
      "main": [
        [
          {
            "node": "IF Text Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Booking Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Text Message": {
      "main": [
        [
          {
            "node": "Guardar Mensaje Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Message Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Message": {
      "main": [
        [
          {
            "node": "Insert Processed Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Processed Message": {
      "main": [
        [
          {
            "node": "Restore WhatsApp Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format WhatsApp Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Guardar Respuesta Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported Message Fallback": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Webhook POST1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore WhatsApp Context": {
      "main": [
        [
          {
            "node": "Consultar Modo Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Mensaje Cliente": {
      "main": [
        [
          {
            "node": "Check Duplicate Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Modo Humano": {
      "main": [
        [
          {
            "node": "Bot Activo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Activo?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Respuesta Bot": {
      "main": [
        [
          {
            "node": "Log Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback to User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_sucursales": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "registrar_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crear_pedido": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Normalize WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_catalogo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "IF Booking Message": {
      "main": [
        [
          {
            "node": "Guardar Mensaje Cita Entrada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Booking Conf WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create 2h Reminder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create 1h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Booking Conf WhatsApp": {
      "main": [
        [
          {
            "node": "Save Booking Bot Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Booking Bot Response": {
      "main": [
        [
          {
            "node": "Log Booking Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize WhatsApp Message (Emergencia)": {
      "main": [
        [
          {
            "node": "IF Valid Message (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Message (Emergencia)": {
      "main": [
        [
          {
            "node": "IF Text Message (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Text Message (Emergencia)": {
      "main": [
        [
          {
            "node": "Guardar Mensaje Cliente (Emergencia)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Message Fallback (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Message (Emergencia)": {
      "main": [
        [
          {
            "node": "Insert Processed Message (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Processed Message (Emergencia)": {
      "main": [
        [
          {
            "node": "Restore WhatsApp Context (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (Emergencia)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Emergencia)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory by WhatsApp Number (Emergencia)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Emergencia)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Format WhatsApp Response (Emergencia)": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message (Emergencia)": {
      "main": [
        [
          {
            "node": "Guardar Respuesta Bot (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported Message Fallback (Emergencia)": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore WhatsApp Context (Emergencia)": {
      "main": [
        [
          {
            "node": "Consultar Modo Humano (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Mensaje Cliente (Emergencia)": {
      "main": [
        [
          {
            "node": "Check Duplicate Message (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Modo Humano (Emergencia)": {
      "main": [
        [
          {
            "node": "Bot Activo? (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Activo? (Emergencia)": {
      "main": [
        [
          {
            "node": "Obtener Estadisticas (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Estadisticas (Emergencia)": {
      "main": [
        [
          {
            "node": "Obtener Historial (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Respuesta Bot (Emergencia)": {
      "main": [
        [
          {
            "node": "Log Conversation (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Emergencia)": {
      "main": [
        [
          {
            "node": "Format WhatsApp Response (Emergencia)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request (Emergencia)": {
      "main": [
        [
          {
            "node": "Normalize WhatsApp Message (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Historial (Emergencia)": {
      "main": [
        [
          {
            "node": "AI Agent (Emergencia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Reporte (Tool)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Emergencia)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}